#div1 {
  margin: 30px;
  background-color: red;
  width: 100px;
  height: 100px;
  /*transform: translate(30px,40px);*/
  /*transform: rotate(0.1rad);*/
  /*transform: skewY(20deg);*/
  /*transform: scale(2,2);*/
  /*transform: matrix(1.2,0.3,0.3,1.2,5,5);*/
  /*transition: width 1s;*/
}
@keyframes godown {
  from{
    height: 200px;
  }
  to{
    height: 250px;
  }
}

#div1:hover {
  background-color: blue;
  width: 100px;
  height: 100px;
  animation: godown 2s;
  /*width: 150px;*/


  /*transition: width 1s */
}
